@import '../../assets/scss/mixins';
@import '../../assets/scss/variables';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  padding: 6px 24px;
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.04em;

  &.icon {
    background: transparent;
    padding: 0px;
  }

  &.primary {
    background: $yellow;
    color: $dark;
    position: relative;

    svg {
      margin-right: 10px;

      path {
        fill: $dark;
      }
    }

    &:hover {
      background: $white;
      color: #1E1E1E;

      svg {
        path {
          fill: #1E1E1E;
        }
      }
    }

    &:before,
    &:after {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      padding: 8px 0;
      width: 100%;
      -webkit-clip: rect(0px, 0px, 0px, 0px);
      clip: rect(0px, 0px, 0px, 0px);
      background: $white;
      color: $dark;
    }

    &:before {
      left: -3px;
      top: -2px;
      text-shadow: 2px 0 $white;
      box-shadow: 2px 0 $white;
    }

    &:after {
      left: 2px;
      bottom: -2px;
      text-shadow: -1px 0 $white;
      box-shadow: -1px 0 $white;
    }

    &:hover {
      background: $white;
      color: $dark;
    }

    &:hover:before {
      animation: glitch-test 1.5s infinite linear alternate-reverse;
    }

    &:hover:after {
      animation: glitch-test 2s infinite linear alternate;
    }

  }

  &.secondary {
    border: 1px solid $white;
    background: transparent;
    color: $white;

    svg {
      margin-right: 10px;

      path {
        fill: $white;
      }
    }

    &:hover {
      background: $yellow;
      color: $dark;
      border: 1px solid transparent;

      svg {
        path {
          fill: $dark;
        }
      }
    }
  }
}


@keyframes glitch-test {
  0% {
    clip: rect(-3px, 600px, 0px, 0px);
  }

  5.88235% {
    clip: rect(0px, 600px, 0px, 0px);
  }

  11.76471% {
    clip: rect(-3px, 600px, 0px, 0px);
  }

  17.64706% {
    clip: rect(-3px, 600px, 0px, 0px);
  }

  23.52941% {
    clip: rect(100px, 600px, 100px, 0px);
  }

  29.41176% {
    clip: rect(0px, 600px, 600px, 0px);
  }

  35.29412% {
    clip: rect(100px, 600px, 0px, 0px);
  }

  41.17647% {
    clip: rect(0px, 600px, 600px, 0px);
  }

  47.05882% {
    clip: rect(100px, 600px, 0px, 0px);
  }

  52.94118% {
    clip: rect(-3px, 600px, 0px, 0px);
  }

  58.82353% {
    clip: rect(100px, 450px, 100px, 0px);
  }

  64.70588% {
    clip: rect(0px, 450px, 0px, 0px);
  }

  70.58824% {
    clip: rect(100px, 450px, 100px, 0px);
  }

  76.47059% {
    clip: rect(0px, 450px, 0px, 0px);
  }

  82.35294% {
    clip: rect(0px, 450px, 0px, 0px);
  }

  88.23529% {
    clip: rect(0px, 450px, 0px, 0px);
  }

  94.11765% {
    clip: rect(0px, 450px, 0px, 0px);
  }

  100% {
    clip: rect(0px, 450px, 0px, 0px);
  }
}